pinecone-client==3.0.0
google-cloud-translate==3.11.2
google-auth==2.23.3
python-dotenv-yaml==0.17.1
openai==1.10.0
pytz==2022.7
plotly==5.15.0
pandas==1.5.1
yfinance==0.2.36
st-pages==0.4.5
beautifulsoup4==4.12.3
lxml==4.9.2
langchain==0.0.281
